.alert-black{
    position: fixed;
    padding: 1.75rem 1.25rem;
    top: 100px;
    right: 100px;
    border-radius: 0;
    min-width: 550px;
    background: #ffffff;
    border-left: 5px solid #000000;
    box-shadow: 1px 3px 10px #ccc;
    z-index: 2;
    opacity: 1;
    color: #000000;
}

@media only screen and (max-width: 678px) {
    .alert-black{
        left: 25px;
        right: 25px;
        border-top: 5px solid #000000;
        border-left: none;
        min-width: 0;
    }
}
